body {
  background-color: var(--color-grey-4);
  font-family: "Inter";
}
.popUpAnim {
  animation: popUpAnim 0.7s;
}
@keyframes popUpAnim {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  60% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
/* ScrollBars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #56568B;
  border: 0px none #ffffff;
  border-radius: 69px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}
::-webkit-scrollbar-thumb:active {
  background: #8b8b8b;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 2px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}
::-webkit-scrollbar-track:active {
  background: #f1f1f1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
